
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}


.col-1  { width:  8.3%;    float:left; }
.col-2  { width: 16.6666%; float:left; }
.col-3  { width: 25%;	   float:left; }
.col-4  { width: 33.3333%; float:left; }
.col-5  { width: 41.6666%; float:left; }
.col-6  { width: 50%;	   float:left; }
.col-7  { width: 58.3333%; float:left; }
.col-8  { width: 66.6666%; float:left; }
.col-9  { width: 75%;	   float:left; }
.col-10 { width: 83.3333%; float:left; }
.col-11 { width: 91.6666%; float:left; }
.col-12 { width: 100%;	   float:left; }

.row:after {
    content: "";
    display: table;
    clear: both;
}



.clear { clear: both; }



* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	/*background-color: #b5d0e2;*/
	background-color: white;
	font-family: 'Roboto-Regular';
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	color: #142938;
	font-size: 2em;
	margin-bottom: 20px;
	text-align: center;
}

ul {
    list-style-type: none;
}


.titulo-principal {
	font-size: 50px;
}

.titulo-comentario {
	font-size: 24px;
	color: #666666;
	font-family: Roboto-LightItalic;
}


/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ============ MULTIPLE ============= === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/

#post-header,
#post-nav,
.centered,
#footer-links,
#footer-rights {
	margin: 0 auto;
	max-width: 85%;	
}



header,
footer {
	width: 100%;
}


/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ============== HEADER ============= === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/


/* 
		 		=== === === === === === === === === === === === === === === === ===
				=== === === === === === === === === === === === === === === === ===
				=== === === === ============ HEADER TOP =========== === === === ===
				=== === === === === === === === === === === === === === === === ===
*/

header {
	background: #000000 url(../images/header-bg.jpg) 50% 90% repeat;
}

header #logo {
	padding-top: 15px;
	padding-left: 20px;
	float: left;
}

header #logo img {
	width: 80px;
}

header #redes {
	padding-right: 15px;
	float: right;
	margin-top: 35px;
}

header #redes a{
	padding-left: 20px;
}

header #redes img{
	width: 28px;
}



/* 
		 		=== === === === === === === === === === === === === === === === ===
				=== === === === === === === === === === === === === === === === ===
				=== === === === ======== HEADER NAVIGATION ======== === === === ===
				=== === === === === === === === === === === === === === === === ===
*/

header nav {
	margin-top: 10px;
    background-color: #1E3A4F;
}

header nav ul{
    overflow: hidden;
}

header nav li {
    float: left;
}

header nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    font-size: 0.95em;
}

header nav li a:hover {
    background-color: #122330;
}

.activePage {
    background-color: #13517c;
}



/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ============== INICIO ============= === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/


#section-presentacion{
	text-align: center;
	padding: 50px 0;
	font-family: Roboto-LightItalic;
	
}


#etiquetadora-principal {
	width: 530px;
}

#icon-tienda{
	width: 25px;
	margin-right: 10px;
	vertical-align:middle;
}

.boton-verde{
	font-family: Roboto-Light;
	width: 200px;
	height: 55px;
	background-color: #4dd467;
	border: solid 1px #3cb854;
	border-radius: 8px;
	padding: 1em 1em 1em 1em;
	color: #fff !important;
	font-size: 1.1em;
    font-weight: 700;
}

.boton-verde:hover{
	background-color: #42b256;
}



/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ============== PRODUCTOS ============= === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/

#categorias {
	margin-top: 20px;
	text-align: center;
	display: table;
}

#categorias-titulo {
}

#categorias-titulo p{
	font-size: 2.2em;
	font-family: 'Roboto-Thin';
}

.producto-circulo {
  	display: inline-block;
  	float: left;
  	margin: 20px 40px;
}

.producto-circulo img{
	width: 300px;
}

.producto-circulo p{
	font-family: 'Roboto-Bold';
	font-size: 1.5em;
}


	


/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ============ CONTACTO ============= === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/



/* 
		 		=== === === === === === === === === === === === === === === === ===
				=== === === === === === === === === === === === === === === === ===
				=== === === === ========== MAPA PRINCIAPL ========= === === === ===
				=== === === === === === === === === === === === === === === === ===
*/


.section-mapa{
	padding-top: 25px;
	text-align: center;
	margin-bottom: 40px;
}

#mapa-dymo{
	width: 100%;
	height: 500px;
}


/* 
		 		=== === === === === === === === === === === === === === === === ===
				=== === === === === === === === === === === === === === === === ===
				=== === === === ====== MAPA OTRAS SUCURSALES ====== === === === ===
				=== === === === === === === === === === === === === === === === ===
*/


#aside-otras-sucursales {
	text-align: center;
}

.mapa p {
	font-size: 20px;
}

.mapa-otras-sucursales{
	width: 100%;
	height: 300px;
}


/* 
		 		=== === === === === === === === === === === === === === === === ===
				=== === === === === === === === === === === === === === === === ===
				=== === === === ======== FORM DE CONTACTO ========= === === === ===
				=== === === === === === === === === === === === === === === === ===
*/

#section-form-contacto #form-contacto {
	margin: 0 auto;
	color: white;
	background-color: #1E3A4F;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid black;
	width: 90%;
}


/* 
		 				=== === === === === === === === === === === === ===
						=== === === === === === === === === === === === ===
						=== === ==== ELEMENTOS DEL FORMULARIO ===== === ===
						=== === === === === === === === === === === === ===
*/

input[type=text], 
input[type=email], 
input[type=tel], 
select, 
textarea {
	width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical; 
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}


#enviarBtn:disabled{
	background-color: #3D8E40;
}

#enviarBtn:enabled{
	background-color: #4CAF50;
}


/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ============== ACERCA DE ============= === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/

#section-acerca-de{
	padding: 20px 20px 0 20px;
	font-family: 'Roboto-LightItalic';
}

#section-acerca-de article{
	margin-bottom: 30px;	
}

.acerca-de-titulo{
		font-family: 'Roboto-Bold';
}





/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ============== FOOTER ============= === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/


footer {
	background-color: #00182C;
	margin-top: 50px;
}


footer a:hover {
	color: #375366;
}


/* 
		 		=== === === === === === === === === === === === === === === === ===
				=== === === === === === === === === === === === === === === === ===
				=== === === === =========== FOOTER LINKS ========== === === === ===
				=== === === === === === === === === === === === === === === === ===
*/

footer #footer-links {
	font-size: 0.86em;
	min-height: 100px;
	text-align: center;
	padding-top: 10px;
	width: 100%;
	background-color: #00182C;
}

footer #footer-links .titulo{
	color: white !important;
}

footer #footer-links,
footer a {
	color: #527691;
}


/* 
		 		=== === === === === === === === === === === === === === === === ===
				=== === === === === === === === === === === === === === === === ===
				=== === === === ========== FOOTER RIGHTS ========== === === === ===
				=== === === === === === === === === === === === === === === === ===
*/


footer #pre-footer-rights {
	width: 100%;
	background-color: #1E3A4F;
}

footer #footer-rights{
	min-height: 25px;
	padding: 5px 0;
	color: white;
}

footer #derechos {
	float: left;
	margin-left: 50px;
}

footer #diseñador {
	float: right;
	margin-right: 50px;
}




/* 
=== === === === === === === === === === === === === === === === === === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
=== === === === === === === === ========== MEDIA QUERIES ========== === === === === === === ===
=== === === === === === === === === === === === === === === === === === === === === === === === 
*/

@media only screen and (max-width: 1040px) {

	footer #footer-rights {
		font-size: 0.85em;
		text-align: center;
	}

	footer #footer-rights span{
		margin: 0;
		float: none;
		display: inline-block;
		width: 100%;
	}

	footer #footer-rights #derechos {
		margin-bottom: 10px;
	}

	#section-acerca-de #historia,
	#section-acerca-de #mision,
	#section-acerca-de #vision{
		width: 90%;
		text-align: center;
		font-size: 0.85em;
	}
}


@media only screen and (max-width: 911px) {
	.producto-circulo img{
		width: 200px;
	}

	.producto-circulo {
		margin: 20px 0;
		width: 100%;
	}

	#article-acerca-de{
		width: 70%;
		padding: 10px;
	}
    #section-acerca-de #historia,
	#section-acerca-de #mision,
	#section-acerca-de #vision{
		width: 95%;
		text-align: center;
		font-size: 0.80em;
	}
}


@media only screen and (max-width: 800px) {
	.col-4 {
		width: 100%;
		margin-bottom: 20px;
		font-size: 0.95em;
	}

}

@media only screen and (max-width: 480px) {


	header {
		text-align: center;
	}


	header #logo {
		padding: 0;
		margin: 30px 0 30px 0;
		float: none;
		display: inline-block;
		width: 100%;
	}

	header #logo img {
		width: 100px;
	}

	header #redes {
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
	}

	header #redes a{
		width: 50px;
		padding: 0;
		display: inline-block;
	}

	header #redes img{
		width: 32px;
	}


	#post-nav {
		max-width: 100%;
	}

	header nav #post-nav ul li {
		width: 100%;
	}


	article #contacto-form {
		padding: 30px 10px;
	}


	#article-acerca-de{
		width: 85%;
		padding: 5px;
	}

    #section-acerca-de #historia,
	#section-acerca-de #mision,
	#section-acerca-de #vision{
		width: 95%;
		text-align: center;
		font-size: 0.67em;
	}
}






























































.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
